<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <link rel="shortcut icon" href="{%static 'Images/favicon.ico' %}" type="image/x-icon">
    <script src="{%static 'js.js' %}"></script>
    <script src="/static/js.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Naat Zone</title>
</head>
<style>
  
</style>
<body>
    <header>
        <nav>
            <div class="nav-div">
                <div class="logo-div">
                    <img src="{%static 'Images/naat_zone_logo.png' %}" alt="" class="logo">
                </div>
                <div class="nav-links">
                    <a onclick="Search('None')" >Home</a>
                    {% comment %} <a onclick="GetArtist(NaN)" >Naat Khawan</a> {% endcomment %}
                    <a onclick="Search('ramzan')">Ramzan</a>
                    <a onclick="Search('ringtones')">Ringtones</a>
                    <a onclick='LoadFavorite()'>Favorite</a>
                </div>
                <div class="search-div">
                    <div class="search-sub-div">
                        <input name="query" placeholder='search' type="text">{% csrf_token %}
                        <button onclick="Search(null)" id='search-btn'><i class="fa-solid fa-magnifying-glass"></i></button>
                        <button type="button" onclick="VoiceSearch()" id='mic-btn'><i class="fa-solid fa-microphone"></i></button>
                    </div>
                </div>
                <button onclick="SideBarToggle()" id="hamburger-btn" class="btn">☰</button>
                
                {%if user.is_authenticated %}
                <div class="auth-div">
                    <label id='username-label'>{{user.username}}</label>
                    <a  onclick='Authentication("logout")'><button id='signupbtn' class='btn'>logout</button></a>
                </div>
                {% else %}
                <div class="auth-div">
                    <a onclick='Authentication("login")'><button id='loginbtn'>Login</button></a>
                    <a  onclick='Authentication("signup")'><button id='signupbtn' class='btn'>Sign up</button></a>
                    {% comment %} <a href="{%url 'login' %}"><button id='loginbtn'>Login</button></a>
                    <a href="{%url 'signup' %}"><button class='btn'>Sign up</button></a> {% endcomment %}
                </div>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        <div class="space"></div>
        <div class="container">
        {% block body %}
            
            <div class="pagination-div">
                <button onclick="ChangePage('pre')" class="previous pagination-btn"><</button>
                <button class="pagination-btn current-page">1</button>
                <button class="pagination-btn">2</button>
                <button class="pagination-btn">....</button>
                <button class="pagination-btn">17</button>
                <button onclick="ChangePage('next')" class="next pagination-btn">></button>
            </div>

        {% endblock body %}
        </div>

        <div id="msg-div" class="msg-div">
            <label id="msg-label" for="">...</label>
        </div>

        <div id="player-div" class="player-div">
            <button onclick="ExpandPlayer()" class="control-btns" id="expand-btn"><i class="fa-solid fa-chevron-up"></i></button>
            <div class="player-body">
                <div class="player-head">
                    <h1>Naat Title Type Here.....</h1>
                    <button id="lyrics-btn" onclick="GetLyrics()" class="btn">Lyrics</button>
                </div>
                <div class="disk-spinner-div">
                    <div>
                        <img src="{%static 'Images/disk.png' %}" alt="" id="disk" class="disk paused">
                        <img src="https://static.thenounproject.com/png/1584695-200.png" alt="" id="tone-arm" class="">
                    </div>
                    
                </div>
                <div id="lyrics"></div>
            </div>
            <div class="duration-div">
                <label id="timeline" for="">00:00</label>
                <h4 id="track-title" for=""></h4>
                <label id="duration" for="">00:00</label>
            </div>
            <input onchange='ChangeTimeline()' onclick="ChangeTimeline()" type="range" id="progressbar" value="0">
            <div class="controls-div">
                <div>
                    <button onclick="LoopToggle()" class="control-btns" id="loop-btn"><i class="fa-solid fa-repeat"></i></button>
                    <button onclick="SetVolume(true)" class="control-btns" id="volume-btn"><i class="fa-solid fa-volume-high"></i></button>
                    <input onchange='SetVolume(false)' type="range" min='0' max='100' class="volume_adjuster" value='100'>
                </div>
                <div class="track-contrl-div">
                    <button onclick="TrackChanger('previous')" class="control-btns" id="prs-btn"><i class="fa-solid fa-backward-step"></i></button>
                    <button onclick="PlayerToggle()" class="control-btns" id="play-btn"><i class="fa-solid fa-play"></i></button>
                    <div id="loader-div" class="loader-div">
                        <span class="loader"></span>
                    </div>
                    <button onclick="TrackChanger('next')" class="control-btns" id="nxt-btn"><i class="fa-solid fa-forward-step"></i></button>
                </div>
                <div>
                    <a id='download-btn-link' href=""><button class="control-btns" id="download-btn"><i class="fa-solid fa-download"></i></button></a>
                    <button class="control-btns" onclick='Like("{{naat.link}}","{{naat.title}}")'id="like-btn"><i class='fa-regular fa-heart'></i></button>
                </div>
            </div>
        </div>
        <div id="loading-div" class="loading-div">
            <span class="loader"></span>
        </div>

        <div class="auth-form">
            <div class="signup-div">
                <div class="signup-head">
                    <h1>Login</h1>
                    <button onclick='CloseSignup()'><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="signup-body">
                    <div>
                        <label for="">Username</label>
                        <input name='username' class="inputbox" type="text">
                    </div>
                    <div>
                        <label for="">Password</label>
                        <input name='password' class="inputbox" type="password">
                    </div>
                    <button onclick='SubmitForm()' id='auth-btn' class="btn">Login</button> 
                </div>
              </div>
        </div>

    </main>

</body>
<script>
    var static_url = "{%static '' %}"
</script>
</html>