{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="top-card-div">
    <h4 id='heading'>Ramzan Special Naats</h4>
    <div class="naat-cards-div">
        {% for naat in topnaats %}
        <div class="card">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/009/313/617/small/vinyl-record-vector-illustration-isolated-on-white-background-free-png.png" alt="">
            <div>
                <h4>{{naat.title}}</h4>
                <label for="">{{naat.naat_khwan}}</label>
            </div>
            <button id='{{forloop.counter}}' onclick='PlayNaat("{{naat.link}}","{{naat.title}}","{{forloop.counter}}","{{naat.naat_khwan}}")' class='play-btn'></button>
            
        </div>
        {% endfor %}
    </div>
    <div class="pagination-div">
        {{pages|safe}}
    </div>
</div>

{% endblock body %}